/* Basic Style Sheet for responsive design */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}
/* Some colors to make different parts visible */


header, footer {
    background-color: rgb(200, 200, 200);
}
nav {
    background: rgb(225, 225, 225);
    font-size: 2em;
}
ul {
    padding-inline-start: 2px;
}
li {
    list-style-type: none;
    margin-left: 0;
}

section {
    border: 1px solid black;
}

/* Smartphone/Base layout */

/************** 
Navigation
**************/
/**
Smartphone Nav
**/
#burger-icon {
    margin: 0 2px;
}

#burger-icon div {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: rgba(150,160,170,0.9);
    margin: 3px 0 0 0;
}


#burger-icon:hover div {
    background-color: rgb(160,170,180);
}

#burger-icon:hover {
cursor: pointer;
    }

#mobile-nav ul {
    margin-top: 2vh;
}

#mobile-nav ul li {
    /* margin-top: 1px; */
}

#mobile-nav ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px; 
    font-size: 1em;
}


#mobile-nav {
    /* position: fixed; */
    width: 100%;
    top: 0;
    display: auto;
    padding-top: 5px;
    overflow-y: hidden;
    background-color: rgba(230,240,240,0.8);
}
/**
Nav Rest
**/
#desktop-nav {
    display: none;
}
#desktop-nav {

    top: 0;
}
#desktop-nav ul {
    display: flex;
}

/* Tablet */
@media (min-width: 768px) {
    #desktop-nav {
        display: block;
    }

    #mobile-nav {
        display: none;
    }
 }

/* Desktop */
@media (min-width: 992px) { 
    #desktop-nav {
        display: block;
    }

    #mobile-nav {
        display: none;
    }
 }